* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
}

section {
    height: 90%;
   
    background:goldenrod;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-box {
    width: 90vw;
    height: 80vh;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.expenses-list {
    padding: 10px;
    height: 100%;
    width: 60%;
    /* border:2px solid black; */
    border-radius: 10px;
    background:cornsilk
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1.5px solid brown;
    padding: 5px;
    text-align: left;
}

tbody td,
tfoot td {
    padding: .5rem;
    font-weight: bold;
}

th {
    background-color: rgb(252, 213, 165);
    color: black;
}

.delete-btn {
    padding: 5px 8px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


form {
    height: 100%;
    width: 35%;
    padding: 12px;
    color: #000;
    font-weight: bolder;
    border:2px solid transparent;
    border-radius: 10px;
    background:rgb(0, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputs,
button {
    width: 70%;
    text-align: center;
    font-weight: 600;
    /* background:black; */
    cursor: pointer;
}

#add_button{
    /* margin-left:30px; */
    background:yellow;
    color:black;
    width:100%;
}